<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39434754829-guibsq2l43rfvqfhfvcmlrg2ahkjvvuq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39434754829-guibsq2l43rfvqfhfvcmlrg2ahkjvvuq</string>
	<key>API_KEY</key>
	<string>JPmGXJJJtSnEnNfMPNmeaxLLilcXLOzBgKufEZti</string>
	<key>GCM_SENDER_ID</key>
	<string>39434754829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maksimsviatlou.conjugator</string>
	<key>PROJECT_ID</key>
	<string>conjugator-7cbfc</string>
	<key>STORAGE_BUCKET</key>
	<string>conjugator-7cbfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:39434754829:ios:ac7600a49546892dcf2e44</string>
</dict>
</plist>
